<% form_for(@quote) do |f| %>
  <% if @possible_quotee_matches %>
    <p>
      Sorry, we cannot find anyone called '<%=h params[:quotee] %>'.
    </p>
    <% unless @possible_quotee_matches.empty? %>
      <p>
        Did you mean one of these people:
      </p>
      <ul>
      <% @possible_quotee_matches.each do |possible_quotee_match| %>
        <li><%= link_to_function "#{h(possible_quotee_match.fullname)} (#{h(possible_quotee_match.username)})", "javascript:document.getElementById('quotee').value='#{ escape_javascript(possible_quotee_match.username || possible_quotee_match.fullname) }'" %></li>
      <% end %>
      </ul>
    <% end %>
    <p>
      Would you like to <%= link_to "create a new person called '#{h(params[:quotee])}'", new_user_path(:mode => 'partial', :fullname => params[:quotee]) %>?
    </p>
  <% end %>

  <%= f.error_messages %>

  <p>
    <%= label_tag 'quotee' %> &mdash; Who said it?<br />
    <%= text_field_tag :quotee, @quote.quotee && (@quote.quotee.username || @quote.quotee.fullname) || params[:quotee] %>
  </p>
  <p>
    <%= f.label :quote_text %> &mdash; What did they say?<br />
    <%= f.text_area :quote_text, {:rows => 4, :cols => 80} %>
  </p>
  <p>
    <%= label_tag 'context_name', 'Quotebook' %> &mdash; Where did they say it?<br />
<% if @context %>
    <%= text_field_tag :context_dummy, @context.name, {:disabled => 'disabled'} %>
    <%= hidden_field_tag 'context[name]', @context.name %>
<% else %>
    <%= text_field_with_auto_complete(:context, :name, {:value => @quote.context && @quote.context.name}, {:skip_style => true}) %>
<% end %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>
