<p>
  <b>Quote text:</b>
  <%=h @quote.quote_text %>
</p>

<p>
  <b>Context:</b>
  <%=h @quote.context.name %> (<%=h @quote.context.description %>)
</p>

<p>
  <b>Quoter:</b>
  <%=h @quote.quoter.username %> (<%=h @quote.quoter.fullname %>)
</p>

<p>
  <b>Quotee:</b>
  <%=h @quote.quotee.username %> (<%=h @quote.quotee.fullname %>)
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
