<%= formatted_quote(@quote, :quote_link => false) %>

<p>
  <% if @quote.quoter == current_user %>
  <%= link_to 'Edit', edit_quote_path(@quote) %> |
  <%= link_to 'Destroy', @quote, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to 'Back', quotes_path %>
</p>

<h2>Comments</h2>

<%= render :partial => 'comments/list' %>

<h3>New comment</h3>

<% if logged_in? %>
<%
@comment = @quote.comments.build #For new comment form; must be after above list of comments or it will show up there
%>
<%= render :partial => 'comments/form', :locals => {:button_label => 'Post comment'} %>
<% else %>
<p>
  <%= link_to 'Login to post a comment', new_quote_comment_path(@quote) %>
</p>
<% end %>
