<% content_for :title do %>: Quote by <%=h @quote.quotee.fullname %><% end %>

<% content_for :head do %>
<%= auto_discovery_link_tag :atom, {:controller => 'comments', :quote_id => @quote.id, :action => 'index', :format => :atom}, {:title => 'Comments for this quote'} %>
<% end %>

<% content_for :header do %>
  <h1 id="logo"><%= link_to 'theQuotebook.net', '/' %></h1>
<% end %>

<%= formatted_quote(@quote, :single => true, :show_comments => false) %>

<ul class="commands">
  <% if @quote.quoter == current_user %>
  <li><%= link_to 'Edit', edit_quote_path(@quote), :class => 'button' %></li>
  <li><%= link_to 'Destroy', @quote, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %></li>
  <% end %>
<%
tweet_quote_text = trim_if_needed(quote_marks_if_needed(@quote.quote_text), 80)
%>
  <li><%= link_to 'Tweet this', "http://twitter.com?status=" + URI.escape("#{@quote.quotee.fullname} said #{tweet_quote_text} #{quote_url(@quote)}"), :class => 'button' %></li>
</ul>

<%= render :partial => 'comments/list' %>

<% if logged_in? %>
<%
@comment = @quote.comments.build #For new comment form; must be after above list of comments or it will show up there
%>
<%= render :partial => 'comments/form', :locals => {:button_label => 'Comment'} %>
<% else %>
<p>
  <%= link_to 'Login to post a comment', new_quote_comment_path(@quote) %>
</p>
<% end %>
