<% content_for :title do %>: Log in<% end %>

<% content_for :header do %>
<h1>Log in</h1>
<% end %>

<% form_tag session_path, :id => 'openid_form' do -%>
<div id="openid_block">
  <%= label_tag 'openid', "OpenID" %>
  <%= text_field_tag 'openid', @openid %>
</div>
<div>
  <label class="note">
    No OpenID to login with? <a href="https://www.myopenid.com/signup?affiliate_id=37904&amp;openid.sreg.optional=email,nickname,fullname">Get one with myOpenID</a>, or <a href="http://openid.net/get/">choose a different provider</a> if you prefer. An OpenID is an account that lets you login to many different sites without having to remember a username and password for each one.
  </label>
</div>
<div class="checkbox">
  <%= label_tag 'remember_me', 'Remember me' %>
  <%= check_box_tag 'remember_me', '1', @remember_me %>
</div>
<div>
  <%= submit_tag 'Log in', :disable_with => 'Logging in&hellip;', :class => 'button' %>
</div>
<% end -%>
