<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= link_to_user @quote.quoter, :full_url => true %> just quoted you as saying <%= link_to(quote_marks_if_needed(@quote.quote_text).bbcode_to_html({}, :enable, true, false, [:bold, :italics]), quote_url(@quote)) %> in <%= link_to h(@quote.context.name), context_url(@quote.context) %>.
    </p>
    <p>
      You can <%= link_to 'comment on this', quote_url(@quote) %> if you want to. You can also look at <%= link_to 'all your quotes', user_url(@quote.quotee) %>.
    </p>
    <p>
      If you wish to stop receiving these notifications, you can <%= link_to 'edit your profile', edit_user_url(@quote.quotee) %> to disable email notification.
    </p>
  </body>
</html>
