<table>
<% for comment in @quote.comments %>
  <tr>
    <td>
      At <%= link_to comment.created_at, quote_comment_path(@quote, comment) %>,<br />
      <%= link_to_user comment.user %> said:<br />
      <% if comment.user == current_user %>
        (<%= link_to 'Edit', edit_quote_comment_path(@quote, comment) %> |
        <%= link_to 'Destroy', quote_comment_path(@quote, comment), :confirm => 'Are you sure?', :method => :delete %>)
      <% end %>
    </td>
    <td>
      <%=h comment.body %>
    </td>
  </tr>
<% end %>
</table>
