<h1>Comments for <%=h @quote.quote_text %></h1>

<table>
  <tr>
    <th>Commenter</th>
    <th>Body</th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td><%=h comment.user %></td>
    <td><%=h comment.body %></td>
    <td><%= link_to 'Show', quote_comment_path(@quote, comment) %></td>
    <td>
        <%= link_to 'Edit', edit_quote_comment_path(@quote, comment) %>
    </td>
    <td>
        <%= link_to 'Destroy', quote_comment_path(@quote, comment),
            :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_quote_comment_path(@quote) %>
<%= link_to 'Back to quote', @quote %>
