<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    OpenID<br />
    <%= link_to h(@user.openid), h(@user.openid) %>
  </p>
  <p>
    <%= f.label :fullname, 'Full name' %> &mdash; Put your real name, so people can find you.<br />
    <%= f.text_field :fullname %>
  </p>
  <p>
    <%= f.label :username %> &mdash; You can call yourself whatever you like here. Keep it fairly short though.<br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>
