  <% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :fullname, 'Full name' %>
    <%= f.text_field :fullname %>
    <%= f.label :fullname, 'Put your real name, so that people can find you.', :class => 'note' %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :username, 'You can choose any unique name here. Keep it fairly short though.', :class => 'note' %>
  </div>
  <div>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
    <%= f.label :email_address, 'This is used to find your avatar image for your profile.', :class => 'note' %>
  </div>
  <div class="checkbox">
    <%= f.label :email_notification %>
    <%= f.check_box :email_notification %>
    <%= f.label :email_notification, 'Should we send you an email when someone quotes you, or comments on one of your quotes?', :class => 'note' %>
  </div>
  <div>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone %>
    <%= f.label :time_zone, 'So that we can show times in your local time zone.', :class => 'note' %>
  </div>
  <div>
    <div class="label">Gravatar</div>
    <div class="label note">
      <%= gravatar_for(@user, :size => 64, :default => 'identicon') %>
      To change this image <a href="http://en.gravatar.com/site/signup">sign up with gravatar</a>. <a href="http://www.gravatar.com"/>Gravatar</a> (Globally Recognized Avatar) associates an image to your email address, so make sure when you sign up that you use the same email address as above.
    </div>
  </div>
  <div>
    <div class="label">OpenID</div>
    <%= link_to h(@user.openid), h(@user.openid), :class => 'item' %>
  </div>
  <div>
    <%= f.submit button_label, :class => 'button' %>
<% if cancel_link %>
    <%= link_to cancel_label, cancel_link, :class => 'button' %>
<% end %>
  </div>
<% end %>
