<h1>Listing users</h1>

<%= render :partial => "user_bar" %>

<table>
  <tr>
    <th>Username</th>
    <th>Fullname</th>
    <th>OpenID</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= link_to h(user.username), user %></td>
    <td><%=h user.fullname %></td>
    <td><%= link_to (h user.openid), (h user.openid) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
