<% content_for :title do %>: Creating user to quote<% end %>

<h1>Add user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fullname, 'Full name' %><br />
    <%= f.text_field :fullname %>
  </p>
  <p>
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= hidden_field_tag :mode, 'partial' %>
    <%= f.submit 'Create user' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
