<% content_for :title do %>: Creating user to quote<% end %>

<h1>Add user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :fullname, 'Full name' %>
    <%= f.text_field :fullname %>
    <%= f.label :fullname, 'Put their full name, so that others can find and quote them.', :class => 'note' %>
  </div>
  <div>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
    <%= f.label :email_address, 'This will help us to identify the person if they later want to claim their account.', :class => 'note' %>
  </div>
  <div>
    <%= hidden_field_tag :mode, 'partial' %>
    <%= f.submit 'Create user', :class => 'button' %>
  </div>
<% end %>
