<% content_for :title do %>: <%=h @user.fullname %><% end %>

<% content_for :head do %>
<%= auto_discovery_link_tag :atom, {:action => :quotes, :format => :atom}, {:title => "Quotes by #{h(@user.fullname)}"} %>
<% end %>

<% content_for :header do %>
  <div class="vcard">
    <h1>
      <span class="fn"><%=h @user.fullname %></span>
<% if !@user.username.nil? %>
      <div class="tagline"><%= gravatar_for @user, :size => 24, :default => 'identicon', :class => 'photo' %><span class="nickname"><%=h @user.username %></span></div>
<% end %>
    </h1>

<% if !@user.openid.nil? %>
    <!--TODO: How to display this nicely?-->
    <p style="display: none;">
      <b>OpenID:</b>
      <%= link_to h(@user.openid), h(@user.openid), :class => 'url', :rel => 'me' %>
    </p>
<% end %>
  </div>
<% end %>

<% for quote in @quotes %>
<%= formatted_quote quote, :quotee_link => false %>
<% end %>

<ul class="pagination">
  <%= my_paginate(@quotes) %>
  <li><%= link_to 'All', quotes_user_path(@user), {:class => 'button'} %></li>
</ul>

<% content_for :sidebars do %>
<div class="sidebar left">
<% if !@user.contexts.empty? %>
  <h2><%=h @user.username || @user.fullname %>'s quotebooks</h2>
  <ul>
<%   for context in @user.contexts %>
    <li>
      <%= link_to h(context.name), context, {:title => h(context.description)} %> (<%= context.quotes.size %>)
    </li>
<%   end %>
  </ul>
<% end %>
</div>

<div class="sidebar right" id="comments">
<% if !@comments.empty? %>
  <h2><%=h @user.username || @user.fullname %>'s comments</h2>
  <%= render :partial => 'comments/list_sidebar', :locals => {:comments => @comments, :show_context => false} %>
<% end %>
</div>
<% end %>
