<% content_for :head do %>
<%= auto_discovery_link_tag :atom, {:action => :quotes, :format => :atom}, {:title => "Quotes by #{h(@user.fullname)}"} %>
<% end %>
<% content_for :content_element do %> class="with-sidebar"<% end %>

<div class="vcard">
  <h1 class="fn"><%=h @user.fullname %></h1>

  <%= gravatar_for @user, :size => 60, :default => 'identicon', :class => 'photo' %>

  <p>
    <b>Username:</b>
    <span class="nickname"><%=h @user.username %></span>
  </p>
  <p>
    <b>OpenID:</b>
    <%= link_to h(@user.openid), h(@user.openid), :class => 'url' %>
  </p>
</div>

<h2>Quotes</h2>
<% for quote in @user.said_quotes %>
<%= formatted_quote quote, :quotee_link => false %>
<% end %>

<div id="sidebar">
<% if !@user.contexts.empty? %>
  <div class="sidebar-block">
    <h2>Quotebooks</h2>
    <p>
      <%=h @user.username || @user.fullname %> is a member of the following quotebooks:
    </p>
    <ul>
<%   for context in @user.contexts %>
      <li>
        <%= link_to h(context.name), context %> &mdash; <%=h context.description %>
      </li>
<%   end %>
    </ul>
  </div>
<% end %>
</div>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to h("All quotes by #{@user.fullname}"), quotes_user_path(@user) %> |
<%= link_to 'List users', users_path %>
