<h1><%=h @user.fullname %></h1>

<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>OpenID:</b>
  <%= link_to (h @user.openid), (h @user.openid) %>
</p>

<h2>Quotes</h2>
<% for quote in @user.said_quotes %>
  <p>
    <%= formatted_quote quote, :quotee_link => false %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
