<% if logged_in? %>
<%   content_for :head do %>
<%= auto_discovery_link_tag :atom, {:controller => 'users', :id => current_user.id, :action => 'relevant_quotes', :format => :atom}, {:title => "Quotes of interest to #{h(current_user.fullname)}"} %>
<%= auto_discovery_link_tag :atom, {:controller => 'users', :id => current_user.id, :action => 'relevant_comments', :format => :atom}, {:title => "Comments of interest to #{h(current_user.fullname)}"} %>
<%   end %>
<% end %>

<% if @quotes %>
<%   if @quotes.empty? %>
<p>Once you join some quotebooks or add quotes to your quotebooks, they will show up here.</p>
<%   else %>
<%     for quote in @quotes %>
<%= formatted_quote quote %>
<%     end %>
  <ul class="pagination">
    <%= my_paginate(@quotes) %>
    <li><%= link_to 'All', logged_in? ? {:controller => 'users', :id => current_user.id, :action => 'relevant_quotes'} : quotes_path, {:class => 'button'} %></li>
  </ul>
<%   end %>
<% end %>

<% content_for :sidebars do %>
<div class="sidebar left">
<% if @current_user_contexts %>
  <h2>Your quotebooks</h2>
<%   if @current_user_contexts.empty? %>
  <p>
    You are not part of any quotebooks yet. Perhaps you would like to look through the <%= link_to 'list of quotebooks', contexts_path %> to find some to join, or <%= link_to 'create a new quotebook', new_context_path %> for quotes from your group of friends?
  </p>
<%   else %>
  <ul>
<%     for context in @current_user_contexts %>
    <li>
      <%= link_to h(context.name), context, {:title => h(context.description)} %> (<%= context.quotes.size %>)
    </li>
<%     end %>
  </ul>
<%   end %>
<% end %>

  <h2>Top quotebooks</h2>
  <ul>
<% for context in @top_contexts %>
    <li>
      <%= link_to h(context.name), context, {:title => h(context.description)} %> (<%= context.quote_count %>)
    </li>
<% end %>
  </ul>

  <ul>
    <li><%= link_to 'Create a new quotebook', new_context_path %></li>
    <li><%= link_to 'All quotebooks', contexts_path %></li>
  </ul>
</div>

<div class="sidebar right" id="comments">
<% if @current_user_comments && !@current_user_comments.empty? %>
  <h2>Latest comments</h2>
  <%= render :partial => 'comments/list_sidebar', :locals => {:comments => @current_user_comments, :show_context => true} %>

  <hr />
  <ul>
    <li><%= link_to 'All comments on your quotebooks', {:controller => 'users', :id => current_user.id, :action => 'relevant_comments'} %></li>
  </ul>
<% end %>
</div>
<% end %>
