<% form_for(@context) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :name, "Just something short and sweet, but it should be a unique name ('Down Street flat' or 'Imperial Tectonics Limited', not just 'my flat' or 'friends').", :class => 'note' %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :description, 'Give everyone a bit more information about what this quotebook is for.', :class => 'note' %>
  </div>
  <div>
    <%= f.submit 'Save', :class => 'button' %>
<% if cancel_link %>
    <%= link_to cancel_label, cancel_link, :class => 'button' %>
<% end %>
  </div>
<% end %>
