<% form_for(@context) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %> &mdash; Just something short and sweet, but it should be a unique name ('Down Street flat' or 'Imperial Tectonics Limited', not just 'my flat' or 'friends').<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %> &mdash; Give everyone a bit more information about what this quotebook is for.<br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
