<h1>Listing contexts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for context in @contexts %>
  <tr>
    <td><%= link_to h(context.name), context %></td>
    <td><%=h context.description %></td>
    <td><%= link_to 'Edit', edit_context_path(context) %></td>
    <td><%= link_to 'Destroy', context, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New context', new_context_path %>
