<h1><%=h @context.name %></h1>

<p><%=h @context.description %></p>

<h2>Quotes</h2>
<% for quote in @context.quotes %>
  <p>
    <%= formatted_quote quote, :show_context => false %>
  </p>
<% end %>

<p>
  <%= link_to 'New quote', new_quote_path(:context => @context) %>
</p>

<%= link_to 'Edit', edit_context_path(@context) %> |
<%= link_to 'Back', contexts_path %>
