<h1><%=h @context.name %></h1>

<p><%=h @context.description %></p>

<h2>Quotes</h2>
<% for quote in @context.quotes %>
  <p>
    On <%=h quote.created_at %>, <%= link_to h(quote.quoter.username), quote.quoter %> quoted <%= link_to h(quote.quotee.fullname), quote.quotee %> as saying "<%=h quote.quote_text %>".
  </p>
<% end %>

<%= link_to 'Edit', edit_context_path(@context) %> |
<%= link_to 'Back', contexts_path %>
