<% content_for :head do %>
<%= auto_discovery_link_tag :atom, {:action => :quotes, :format => :atom}, {:title => "#{h(@context.name)} quotes"} %>
<% end %>

<h1><%=h @context.name %></h1>

<p><%=h @context.description %></p>

<h2>Quotes</h2>
<% for quote in @context.quotes %>
<%= formatted_quote quote, :show_context => false %>
<% end %>

<% if logged_in? %>
<p>
<% if @context.users.exists?(current_user) %>
  <%= button_to 'Leave this quotebook', leave_context_path(@context) %>
<% else %>
  <%= button_to 'Join this quotebook', join_context_path(@context) %>
<% end %>
</p>
<% end %>

<%= link_to h("Edit #{@context.name}"), edit_context_path(@context) %> |
<%= link_to 'New quote', new_quote_path(:context => @context) %> |
<%= link_to h("All #{@context.name} quotes"), quotes_context_path(@context) %> |
<%= link_to 'List of quotebooks', contexts_path %>
