<h1><%=h @context.name %></h1>

<p><%=h @context.description %></p>

<h2>Quotes</h2>
<% for quote in @context.quotes %>
  <p>
    <%= formatted_quote quote, :show_context => false %>
  </p>
<% end %>

<% if logged_in? %>
<p>
<% if @context.users.exists?(current_user) %>
  <%= button_to 'Leave this context', leave_context_path(@context) %>
<% else %>
  <%= button_to 'Join this context', join_context_path(@context) %>
<% end %>
</p>
<% end %>

<%= link_to h("Edit #{@context.name}"), edit_context_path(@context) %> |
<%= link_to 'New quote', new_quote_path(:context => @context) %> |
<%= link_to h("All #{@context.name} quotes"), quotes_context_path(@context) %> |
<%= link_to 'List of contexts', contexts_path %>
