<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= yield :head %>
</head>
<body>

<%= render :partial => "shared/user_bar" %>

<div id="content"<%= yield :content_element %>>
<% if flash[:notice] %>
  <p class="notice"><%=h flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%=h flash[:error] %></p>
<% end %>

  <%= yield  %>
</div>

</body>
</html>
